.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  position: relative; /* デフォルトの位置指定 */
}

.message {
  font-size: 36px;
  margin-bottom: 0px;
  padding: 0;
  line-height: 1;
}

.firstMessage {
  font-size: 36px;
  margin-bottom: 0px;
  padding: 0;
  line-height: 1;
  margin-top: 10px;
}

.secondMessage {
  font-size: 36px;
  margin-bottom: 0px;
  padding: 0;
  line-height: 1;
  margin-top: 20px;
}

.important {
  font-size: 36px;
  color: #E69F00;
  font-weight: bold;
}

.button {
  padding: 10px 30px;
  font-size: 40px;
  background-color: #2FA268;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 30px;
  width: 350px;
  height: 150px;
  text-align: center;
  margin-top: 10px;
}

.button:hover {
  background-color: #218552;
}
