/* src/app/safety/where/check/checkpage.module.css */
.App {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center; /* 中央揃え */
  align-items: center;
  height: 100vh;
  padding: 20px;
  text-align: center;
}

.safetypageTitle {
  font-size: 50px;
  color: #52514D;
}

.greenButton { /* 緑色のボタンのスタイル */
  font-size: 40px; /* フォントサイズを大きく */
  color: white;
  background-color: #2FA268;
  padding: 10px 20px;
  width: 350px;
  height: 125px;
  border: none;
  border-radius: 40px; /* ボーダーの角を少し大きく */
  cursor: pointer;
  transition: background-color 0.3s ease; /* ホバー時の背景色変更アニメーション */
}

.greenButton:hover {
  background-color: #268556; /* ホバー時の背景色を少し暗く */
}
