.safetybutton-button {
  font-size: 40px; /* 文字サイズを40ピクセルに設定 */
  padding: 10px 20px; /* 上下のパディングを10ピクセル、左右のパディングを20ピクセルに設定 */
  background-color: #ffffff; /* 背景色を#ffffff白色に設定 */
  color: #ffffff; /* 文字色を白に設定 */
  border: none; /* 枠線をなくす */
  width: 350px;
  height: 125px;
  margin: px 20px; /* 上下に10ピクセル、左右に20ピクセルの間隔 */
  border-radius: 30px; /* すべての角を10ピクセル丸める */
}

.safetybutton-container {
  display: flex;
  flex-direction: column; /* 縦方向に配置 */
  gap: 50px; /* ボタン間のスペース */
  width: 100%; /* 幅を画面いっぱいに設定 */
  height: 100vh; /* コンテナの高さを画面全体に設定 */
  box-sizing: border-box; /* パディングとボーダーを含めてサイズを計算 */
  align-items: center; /* 垂直方向に中央揃え */
  padding-top: 80px; /* 上部の空白を20ピクセルに設定 */
}

.safetypage-title {
font-size: 40px; /* 文字サイズを50ピクセルに設定 */
margin-bottom: 10px; /* 下に30ピクセルの余白を追加 */
color: #52514D;
}

#yelow {
border: 5px solid #E69F00; /* 黄色で枠線を5ピクセル幅で設定 */
background-color: #ffffff; /* ボタンの背景を白に設定 */
color: #E69F00; /* ボタンの文字色を黄色に設定 */
}

#darkgreen {
border: 5px solid #2FA268; /* グリーン系で枠線を5ピクセル幅で設定 */
background-color: #ffffff; /* ボタンの背景を白に設定 */
color: #2FA268; /* ボタンの文字色を緑色に設定 */
}