/* src/app/evacuation/evacuationpage.module.css */
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f2f2f2;
}

.header {
  background-color: #ffffff; /* 背景色を白に変更 */
  padding: 15px 0; /* 元の10pxから5px増やして高さを調整 */
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #52514d;
}

.map-placeholder {
  position: relative; /* relativeにすることでマップ画像内にアイコンを絶対配置 */
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mapImage {
  width: 100%; /* マップ画像の幅を100%に設定 */
  height: auto;
}

.icon {
  position: fixed; /* 固定位置にアイコンを配置 */
  width: 50px;
  height: 50px;
  background-color: #d9d9d9;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10; /* アイコンが上に表示されるようにする */
}

.icon img {
  width: 70%; /* アイコン画像のサイズを調整 */
  height: 70%;
}

.footer {
  background-color: #52514d;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: calc(1.75 * 60px); /* 高さを1.75倍に設定 */
}

.footer .time {
  color: white;
  font-size: 24px;
}

.footer .distance {
  color: white;
  font-size: 16px;
}

.footer .end-button {
  background-color: #e69f00 !important;
  color: white !important;
  padding: 10px 20px;
  border-radius: 50%;
  font-size: 20px;
  border: none;
  cursor: pointer;
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
