.App {
  background-color: rgb(241, 233, 233);
  width: 100%;  /* 幅を100%に設定 */
  height: 100%; /* 高さを100%に設定 */
  margin: 0; /* 余白をなくす */
  padding: 0; /* パディングをなくす */
}
body,html {
  width: 100vw; /* 幅を100%に設定 */
  height: 100vh; /* 高さを100%に設定 */
  margin: 0; /* 余白をなくす */
  padding: 0; /* パディングをなくす */
}



.Footer {
  display: flex;
  position: fixed;/*←絶対位置*/
  bottom: 0; /*下に固定*/
  width: 100%;      /* フッターの幅を画面いっぱいに設定 */
  background-color: #F9B07B; /* フッターの背景色を設定 */
  justify-content: center; /* アイテムを中央に寄せる */
  padding: 10px 0;  /* 上下のパディングを10ピクセルに設定 */
}

#darkred{
  background-color:#F9917B;
}

#orange{
  background-color:#F9B07B;
}

#green{
  background-color:#98CB9A;
}