.App {
  background-color: rgb(241, 233, 233);
}

.Apple {
  background-color: blue;
}

.button-container {
  display: flex;
  flex-direction: column; /* 縦方向に配置 */
  gap: 10px; /* ボタン間のスペース */
  align-items: center; /* ボタンを中央揃えにする */
}

.mainbotn-button {
  font-size: 40px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  width: 200px; /* ボタンの幅を指定 */
}

.mainbotn-button:hover {
  background-color: #0056b3; /* ホバー時の背景色 */
}

Footer {
  display: flex;
  align-items: flex-end;
  border: 1px solid #999;
  background: #ffeded;
  padding: 10px;
}

Footer > div {
  border: 1px solid #999;
  background: #bad7f0;
  padding: 10px;
  width: 100px;
}