.Footer-button {
    width: 50px;
    height: 50px;
    margin: 10px 20px;
    object-fit: contain; /* 画像が領域に収まるようにする */
    display: block; /* 確実に表示されるように */
}


.Footer {
    display: flex;
    position: fixed; /* 絶対位置 */
    bottom: 0; /* 下に固定 */
    width: 100%; /* フッターの幅を画面いっぱいに設定 */
    background-color: #B5DFCA; /* フッターの背景色を設定 */
    justify-content: center; /* アイテムを中央に寄せる */
    padding: 10px 0; /* 上下のパディングを10ピクセルに設定 */
    z-index: 10; /* 他の要素の上に表示されるように */
}
.Footer-button {
    width: 70px;
    height: 70px;
    margin: 5px 20px;
    object-fit: contain; /* 画像が領域に収まるようにする */
    display: block; /* 確実に表示されるように */
}


.Footer {
    display: flex;
    position: fixed; /* 絶対位置 */
    bottom: 0; /* 下に固定 */
    width: 100%; /* フッターの幅を画面いっぱいに設定 */
    background-color: #B5DFCA; /* フッターの背景色を設定 */
    justify-content: center; /* アイテムを中央に寄せる */
    padding: 10px 0; /* 上下のパディングを10ピクセルに設定 */
    z-index: 10; /* 他の要素の上に表示されるように */
}
